<link rel="stylesheet" href="<?= base_url('css/home.css') ?>">

.form-area {
    max-width: 650px;
    width: 100%;
    margin: auto;
}

.search-box input {
    border-radius: 5px 0 0 5px;
}

.search-box button {
    border-radius: 0 5px 5px 0;
}

.area-slider {
    background: rgba(200, 200, 200, 0.85);
    padding: 12px;
    border-radius: 6px;
}

/* card buku */
.card-buku {
    position: relative;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    background: #e9e9e9;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card-buku:hover {
    transform: translateY(-5px);
}

.cover-buku {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.info-buku {
    padding: 6px;
}

.judul-buku {
    font-size: 13px;
    line-height: 1.3;
    height: 34px;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hover-detail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.3s;
}

.card-buku:hover .hover-detail {
    opacity: 1;
}

.btn-detail {
    font-size: 12px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ff6a2a;
}